@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
/*
  #F5F7FA
  #375B68
  #4F7E8E
  #8EC5CA 
*/

.btn {
	background: linear-gradient(
		92.23deg,
		#8EC5CA 21.43%,
		#6a9fb0 50.63%,
		#3a6376 100%,
		#3664c7 117.04%
	);

	box-shadow: 0px 4.42184px 107.23px rgba(11, 106, 143, 0.991);
}

.btn:hover {
	background: linear-gradient(
		92.23deg,
		#5898c0 21.43%,
		#649db7 50.63%,
		#81bdd1 100%,
		#8EC5CA 117.04%
	);
}

.gradient,
.active {
	background: linear-gradient(
		92.23deg,
		#8EC5CA 21.43%,
		#6a9fb0 50.63%,
		#3a6376 100%,
		#3664c7 117.04%
	);
}

.active {
	color: #fff;
	padding: 0.8rem;
	border-radius: 100%;
}

@layer base {
	body {
		@apply font-secondary text-lg leading-8 text-white;
	}
	.h2 {
		@apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
	}
	.h3 {
		@apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
	}
	.btn {
		@apply rounded-full font-primary text-white font-medium;
	}
	.btn-sm {
		@apply h-[48px] px-6 text-sm;
	}
	.btn-lg {
		@apply h-[56px] px-10 text-base;
	}
	.btn-link {
		@apply text-base;
	}
	.text-gradient {
		@apply bg-gradient-to-r text-transparent bg-clip-text from-[#8EC5CA] to-[#516872] font-bold font-primary hover:from-[#516872] hover:to-[#8EC5CA];
	}
	.section {
		@apply py-80 lg:py-24 lg:h-screen flex items-center;
	}
}
